.app-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-is-mobile .app-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.app-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.app-is-mobile .app-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.nav-list {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar,
.mat-list-base .mat-list-option.mat-list-item-with-avatar {
  &.active {
    ::ng-deep .mat-list-item-content {
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 32px;
    }
  }
  width: auto;
  height: 48px;
  padding-left:8px;
  padding-right:8px;
  margin-top: 2px;
  margin-bottom: 2px;
}

::ng-deep {
  .mat-list-base .mat-list-item .mat-list-item-ripple,
  .mat-list-base .mat-list-option .mat-list-item-ripple {
    left: -8px !important;
    right: -8px !important;
  }
}
